@model WebPetShop.ViewModels.MascotaViewModel

@{
    ViewBag.Title = "Details";
    List<WebPetShop.ViewModels.EstadoViewModel> lstEstado = ViewBag.EstadoList;
}

<h2>Información de mi mascota</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
           
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>          
            @foreach (var i in lstEstado)
            {
                if (i.EstadoID == Model.EstadoID)
                {
                    @Html.DisplayFor(model => i.EstadoDescripcion)
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            <img src="@Url.Content(@Model.Foto)" alt="Image" height="20%" width="20%" />          
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MascotaID },new{@class= "btn btn-primary"}) 
    @Html.ActionLink("Volver", "Index",null,  new { @class = "btn btn-warning" })
</p>
