@model WebPetShop.ViewModels.MascotaViewModel

@{
    ViewBag.Title = "Edit";
    List<WebPetShop.ViewModels.EstadoViewModel> lstEstado = ViewBag.EstadoList;
}

<h2>Modificar Datos de mi mascota</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "MisMascotas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MascotaID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EstadoID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @if (Model.EstadoID == 3 || Model.EstadoID == 4)
                {
                    foreach (var i in lstEstado)
                    {
                        if (i.EstadoID == Model.EstadoID)
                        {
                            @Html.DisplayFor(model => i.EstadoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                        }
                    }
                    
                }
                else
                {
                    @Html.DropDownListFor(model => model.EstadoID, Model.SelectEstado, new { @class = "form-control" })
                }


                @Html.ValidationMessageFor(model => model.EstadoID, "", new { @class = "text-danger" })
                @Html.HiddenFor(Model => Model.EstadoID)
            </div>
        </div>


      
        <div class="form-group">
            @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="btn btn-default btn-file">

                    @Html.TextBoxFor(model => model.imagen, null, new { type = "file", @class = "input-file" })

                    @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })

                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Url.Content(Model.Foto)" alt="Image" height="10%" width="10%" />
                @Html.HiddenFor(model => model.Foto)               
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Tipo Animal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AnimalID, Model.SelectAnimal, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RazaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RazaID, Model.SelectRaza, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RazaID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaAlta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FechaAlta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.FechaAlta)

                @Html.ValidationMessageFor(model => model.FechaAlta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}





