@model IEnumerable<WebPetShop.ViewModels.MascotaViewModel>

@{
    ViewBag.Title = "Index";
    List<WebPetShop.ViewModels.EstadoViewModel> lstEstado = ViewBag.EstadoList;
    List<WebPetShop.ViewModels.RazaViewModel> lstRaza = ViewBag.RazaList;
    
}
<br />
<hr />
<div class="row" style="background-color:white">
    <h2 class="text-center">Mis Mascotas</h2>
</div>
<hr />
<p>
    @Html.ActionLink("Registrar", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped">
    <tr class="success">
        <th class="active">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RazaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <strong>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>

                @foreach (var i in lstEstado)
                {
                    if (i.EstadoID == item.EstadoID)
                    {
                        @Html.DisplayFor(modelItem => i.EstadoDescripcion)
                    }
                }

            </td>
            <td>
                <img src="@Url.Content(@item.Foto)" alt="Image" height="100em" width="150em" />

            </td>
            <td>
                @foreach (var _raza in lstRaza)
                {
                    if (_raza.RazaID == item.RazaID)
                    {
                        @Html.DisplayFor(modelItem => _raza.DescripcionRaza)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>

                @Html.ActionLink("Editar", "Edit", new { id = item.MascotaID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Ver info", "Details", new { id = item.MascotaID }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
