@model WebPetShop.ViewModels.MascotaViewModel

@{
    ViewBag.Title = "Details";
    List<WebPetShop.ViewModels.EstadoViewModel> lstEstado = ViewBag.EstadoList;
    List<WebPetShop.ViewModels.RazaViewModel> lstRaza = ViewBag.RazaList;
    List<WebPetShop.ViewModels.AnimalViewModel> lstAnimal = ViewBag.AnimalList;
}

<h2>Detalles de la mascota</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>
        <dd>           
            @foreach (var _estado in lstEstado)
            {
                if (_estado.EstadoID == Model.EstadoID)
                {
                    @Html.DisplayFor(model => _estado.EstadoDescripcion)
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalID)
        </dt>

        <dd>
            @foreach (var _animal in lstAnimal)
            {
                if (_animal.AnimalID == Model.AnimalID)
                {
                    @Html.DisplayFor(model => _animal.Descripcion)
                }
            }           
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RazaID)
        </dt>

        <dd>
            @foreach (var _raza in lstRaza)
            {
                if (_raza.RazaID == Model.RazaID)
                {
                    @Html.DisplayFor(model => _raza.DescripcionRaza)
                }
            }          
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            <img src="@Url.Content(@Model.Foto)" alt="Image" height="20%" width="20%" />          
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

    </dl>
</div>
<p>    
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-warning" })
</p>
