@model WebPetShop.ViewModels.MascotaViewModel
@using WebPetShop.ViewModels
@{
    ViewBag.Title = "Home";
    List<MascotaViewModel> mascotaList = ViewBag.MascotaList;
    List<EstadoViewModel> lstEstado = ViewBag.EstadoList;
}

<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
<link href="~/Content/PrincipalStiles.css" rel="stylesheet" />

<br />
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/Slide/Slide1.jpg" alt="Chania">
        </div>
        <div class="item">
            <img src="~/Content/Images/slide/Slide2.jpg" alt="Chania">
        </div>
        <div class="item">
            <img src="~/Content/Images/slide/Slide3.jpg" alt="Flower">
        </div>
        <div class="item">
            <img src="~/Content/Images/slide/Slide4.jpg" alt="Flower">
        </div>
        <div class="item">
            <img src="~/Content/Images/slide/Slide5.jpg" alt="Flower">
        </div>
        <div class="item">
            <img src="~/Content/Images/slide/Slide6.jpg" alt="Flower">
        </div>
        <div class="item">
            <img src="~/Content/Images/slide/Slide7.jpg" alt="Flower">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="jumbotron">
        @*<h3>MASCOTAS DISPONIBLES PARA SU ADOPCIÓN</h3>*@
        <strong><h3 class="text-center">Últimas Mascotas Registradas</h3></strong>
    </div>
</div>

<section class="lstMascotas">

    @foreach (var item in mascotaList)
    {

        @*<div class="panel panel-default">
            <div class="panel-heading">Título del panel con estilo normal</div>
            <div class="panel-body">
                Contenido del panel
            </div>
        </div>*@

        <div class="panel panel-primary">
            <div class="panel-heading"><strong><h4>@item.Nombre</h4></strong></div>
            
            <div class="panel panel-body">
                <dl class="dl-horizontal panel-heading ">

                    <dt>
                        <strong>Edad:</strong>

                    </dt>

                    <dd>
                        <p>@item.Edad</p>
                    </dd>

                    <dt>
                        <strong>Fecha Nac:</strong>
                    </dt>

                    <dd>
                        <p>@item.FechaNacimiento</p>
                    </dd>

                    <dt>
                        <strong>Estado:</strong>
                    </dt>

                    <dd>
                        @foreach (var i in lstEstado)
                {
                    if (i.EstadoID == item.EstadoID)
                    {
                                <p>@i.EstadoDescripcion</p>
                            }
                        }
                    </dd>

                    <dt>
                        <strong>Foto:</strong>
                    </dt>

                    <dd>
                        <img src="@Url.Content(item.Foto)" alt="Image" height="120em" width="120em" />
                    </dd>

                    <dt>
                        <strong>Fecha Registro:</strong>
                    </dt>

                    <dd>
                        <p>@item.FechaAlta</p>
                    </dd>

                </dl>
                <hr />
                @*@Html.ActionLink("Mas Info", "Index", null, new { @class = "btn btn-default" })*@
            </div>
          
        </div>
        <hr />
    }
    @*<table class="table table-striped">
            <tr class="success">
                <th class="active">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.imagen)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RazaID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaAlta)
                </th>
                <th></th>
            </tr>

            @foreach (var item in mascotaList)
            {
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>

                        @foreach (var i in lstEstado)
        {
        if (i.EstadoID == item.EstadoID)
        {
        @Html.DisplayFor(modelItem => i.EstadoDescripcion)
        }


        </td>
        <td>
            <img src="@Url.Content(@item.Foto)" alt="Image" height="100em" width="150em" />

        </td>
        <td>
            @foreach (var _raza in lstRaza)
                {
                    if (_raza.RazaID == item.RazaID)
                    {
                            @Html.DisplayFor(modelItem => _raza.DescripcionRaza)
                        }
                    }   </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAlta)
        </td>

        </tr>
        }
        </table>*@
</section>
